<!---Footer--->
<div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(30,31,38,0.7)" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(30,31,38,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(30,31,38,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#1e1f26" />
        </g>
    </svg>
</div>

<footer class="page-footer font-small unique-color-dark pt-4">
<div class="container">
<ul class="list-unstyled list-inline text-center py-2">
      <h5 class="mb-1">This button looks like very good. do you want click it?</h5>
      <li class="list-inline-item">
        <a href="#" class="btn btn-outline-light btn-rounded">yes!</a>
      </li><br>
      <br>
</ul>
</div>
<div class="footer-copyright text-center py-3"><h6>© 2021 Copyright:</h6>
<h6 href="https://discord.gg/uRqH5UT"> Nextsys</h6>
</div>
</footer>