<ul class="list-group">
    <li class="list-group-item">
      <a [routerLink]="['/user/profile/collections']">Global Collections</a>
    </li>
     <li class="list-group-item">
      <a [routerLink]="['/user/profile/products']">Global Products</a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="['/user/profile/my-collections']">My Collections</a>
    </li>
    <li class="list-group-item">
      <a [routerLink]="['/user/profile/my-products']">My Products</a>
    </li>
     
  </ul>