@font-face {
    font-family: Cassandra;
    src: url(../../../../fonts/CassandraPersonalUseRegular-3BjG.ttf);
  }


h1 {
  font-family: cassandra;
}
.scrollable {
    height: 320px;
    overflow: scroll;
  }
@media(max-width: 450px){
  .mobile-hidden{
    display: none;
  }
}

.modal{
  padding-left: 20px;
  padding-right: 20px !important;
}
.collection-card {
  transition: transform .2s;
}

.collection-card:hover {
  transform: scale(1.03);
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}


.collection{
  font-family: 'Shadows Into Light', cursive;
  font-weight: bold;
  font-size: 2rem;
}

.dropdown {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1rem;
  font-weight: bold;
}

.header-collection {
  font-family: 'Fredoka One', cursive;
  font-size: 2rem;
}

