<div class="row">
  <div class="col-12 text-right">
    <button class="btn btn-primart">Add Collection</button>
  </div>
  <div class="col-12">
    <table>
        <thead>
          <th>Id</th>
          <th>Name</th>
          <th>Total Products</th>
          <th>
            Action  
          </th>
        </thead>
        <tbody>
          <td>
            ghhgc
          </td>
          <td>
            Summer
          </td>
          <td>
            10
          </td>
          <td>
            <i class="fas fa-edit text-success "></i>
            <i class="fas fa-trash text-danger ml-2 "></i>

          </td>

        </tbody>
    </table>
  </div>
</div>