<div class="row mt-3">
  <div class="col-12 d-flex justify-content-between">
    <div class="col-6 mb-3">
      <div class="card outer-card">
        <div class="card-header text-center header-collection">All Collections</div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div *ngFor="let collection of adminCollections">
                <div class="card bg-light mb-3 collection-card">
                  <div class="card-body">
                    <h5 class="card-title collection text-center">{{collection.name}}</h5>
                    <button class="btn btn-primary add-button mt-2" (click)="addCollection(collection)" [attr.disabled]="collection.disabled == true? true: null"><i class="fas fa-plus"></i></button>
                  </div>
                </div>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 mb-3">
      <div class="card outer-card">
        <div class="card-header text-center header-collection">My Collections <i class="fa fa-plus" aria-hidden="true" (click)="toggleForm()"></i></div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div *ngIf="showForm" class="card bg-light mb-3 collection-card">
                <div class="card-body">
                  <form [formGroup]="collectionForm">
                    <div class="form-group">
                      <label for="collectionName" class="collection text-center">Collection Name</label>
                      <input type="text" formControlName="name" required class="form-control" id="collectionName" placeholder="Enter Collection Name" name="userName">
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="submitForm()">Submit</button>
                    <button type="submit" class="ml-2 btn btn-danger" (click)="toggleForm()">Close</button>
                  </form>
                </div>
              </div>
              <div *ngFor="let collection of myCollections">
                <div class="card bg-light mb-3 collection-card">
                  <div class="card-body">
                    <h5 class="card-title collection text-center">{{collection.name}}</h5>
                    <button class="btn btn-danger add-button mt-2" (click)="removeCollection(collection)"><i class="fas fa-trash"></i></button>
                  </div>
                </div>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </div>
  </div>
</div>