<!-- partial:index.partial.html -->
<nav class="navbar navbar-dark bg-nav navbar-expand-sm" style="z-index: 1;">
    <a class="navbar-brand" href="#">
      <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/logo_white.png" width="30" height="30" alt="logo">
      BootstrapBay
    </a>
    
    <div class="collapse navbar-collapse" >
    </div>
    <ul class="navbar-nav ">


        <li class="nav-item dropdown dropbottom">
          <a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
          </a>
        <div class="dropdown-menu " >
          <a class="dropdown-item" href="./user/profile">user Profile</a>
          <a class="dropdown-item" href="/user/collection">user Collection</a>

          <a class="dropdown-item" href="#">Log Out</a>
        </div>
      </li>   
    </ul>
  </nav>