@font-face {
    font-family: Cassandra;
    src: url(../../../fonts/CassandraPersonalUseRegular-3BjG.ttf);
  }


h1 {
    font-family: cassandra;
}




.carousel-inner img {
    width: 100%;
    height: 400px
  }