<!-- Header -->
<app-header></app-header>

<!-- Top  banner -->
<div id="back-photo">
  <img
    [src]="background"
    id="back-src"
    class="back-img"
    alt=""
  />
</div>

<div id="profile-photo">
  <img [src]="profile" id="profile-src" />
</div>
<!-- Top banner end -->



<!-- summer looks -->


<div class="row">
  <div class="col-12">
    <h1 *ngIf="!collections.length" class="text-center">This user has not added any Collections yet</h1>
    <div *ngFor="let collection of collections">
      <div *ngIf="collection.products.length>0" class="container mt-5">
        <h1 class="text-center">{{ collection.name }}</h1>
        <div class="row mt-5">
          <div class="col-12">
            <ngx-slick-carousel
              class="carousel carousel-row"
              #slickModal="slick-carousel"
              [config]="slideConfig"
            >
              <div ngxSlickItem *ngFor="let product of collection.products" class="slide p-2">
                <div class="card shadow rounded">
                  <div class="card-body p-0">
                    <img class="product-img w-100" [src]="product.img" />
                    <div class="m-2">
                      <h5>{{ product.name }}</h5>
                      <div class="price-container">
                        <span class="text-success">Price:</span>
                        <span> {{ product.price }}$</span>
                        <span class="text-danger small ml-2"
                          >( {{ product.discount }}% off )</span
                        >
                      </div>
                      <div class="mt-2">
                        <button class="btn btn-success btn-sm">
                          View
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ngx-slick-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Summer Looks -->


<!-- footer -->
<app-footer></app-footer>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color: white">Please Wait. </p>  
</ngx-spinner> 
