<!-- Header -->
<app-header></app-header>

<!-- Top  banner -->
<div id="back-photo">
  <img
    src="https://wallpapercave.com/wp/wp2089935.jpg"
    id="back-src"
    class="back-img"
    alt=""
  />
  
</div>

<div id="profile-photo">
  <img src="../../../assets/images/img_avatar.png" id="profile-src" />
</div>
<!-- Top banner end -->



<!-- summer looks -->



<div class="row">
  <div class="col-12">
    <div *ngFor="let collection of collections">
      <div class="container mt-5">
        <h1 class="text-center">{{ collection.name }} Collections</h1>
        <div class="row mt-5">
          <div class="col-12">
            <ngx-slick-carousel
              class="carousel carousel-row"
              #slickModal="slick-carousel"
              [config]="slideConfig"
            >
              <div ngxSlickItem *ngFor="let slide of collection.products" class="slide p-2">
                <div class="card shadow rounded">
                  <div class="card-body p-0">
                    <img class="product-img w-100" src="{{ slide.product.img }}" />
                    <div class="m-2">
                      <h5>{{ slide.product.name }}</h5>
                      <div class="price-container">
                        <span class="text-success">Price:</span>
                        <span> {{ slide.product.price }}$</span>
                        <span class="text-danger small ml-2"
                          >( {{ slide.product.discount }}% off )</span
                        >
                      </div>
                      <div class="mt-2">
                        <button class="btn btn-success btn-sm">
                          View
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ngx-slick-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Summer Looks -->


<!-- footer -->
<app-footer></app-footer>
