<!-- Header -->
<div>
  <app-header></app-header>

<!-- Top  banner -->
<div id="back-photo">
  <img
    [src]="background"
    id="back-src"
    class="back-img"
    alt=""
  />
  <a id="change-image-button1" data-toggle="modal" data-target="#exampleModal1"
    ><i class="fa fa-edit" (click)="openModal('https://www.w3schools.com/howto/img_avatar.png', 'Cover Photo' , 'background')"></i
  ></a>
</div>

<div id="profile-photo">
  <img [src]="profileUrl" id="profile-src" />
  <a id="change-image-button" data-toggle="modal" data-target="#exampleModal1"
    ><i class="fa fa-edit" (click)="openModal('https://www.w3schools.com/howto/img_avatar.png', 'Avatar' , 'profile')"></i
  ></a>
</div>
<!-- Top banner end -->

<div class="row">
  <div class="border col-sm-3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="border col-sm-9 ">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- footer -->
<app-footer></app-footer>

</div>
