<!-- Header -->
<app-header></app-header>

<!-- Top  banner -->
<div id="back-photo">
  <img
    src="https://wallpapercave.com/wp/wp2089935.jpg"
    id="back-src"
    class="back-img"
    alt=""
  />
  <a id="change-image-button1" data-toggle="modal" data-target="#exampleModal"
    ><i class="fa fa-edit" (click)="openModal('https://www.w3schools.com/howto/img_avatar.png', 'Cover Photo')"></i
  ></a>
</div>

<div id="profile-photo">
  <img src="../../../assets/images/img_avatar.png" id="profile-src" />
  <a id="change-image-button" data-toggle="modal" data-target="#exampleModal"
    ><i class="fa fa-edit" (click)="openModal('https://www.w3schools.com/howto/img_avatar.png', 'Avatar')"></i
  ></a>
</div>
<!-- Top banner end -->

<div class="row">
  <div class="col-sm-3">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-sm-9">
    <router-outlet></router-outlet>
  </div>
</div>


<!-- footer -->
<app-footer></app-footer>
